.box {
  display: flex;
  flex-direction: column;
  background-color: $color-ffffff;
  margin: 1% 1.5% 0 0;
  padding: 2% 4%;
  text-transform: capitalize;
  max-width: 23%;
  border: 1% solid $color-5a5a5a;
  border-radius: 10%;

  &__head {
    margin-bottom: 10%;
    font-weight: 600;
    color: $color-707070;

    &:after {
      content: '';
      display: block;
      width: 24%;
      padding-bottom: 5%;
      border-bottom: 3px solid $color-0094c6;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 10% 0;
    justify-content: center;

    svg {
      width: 20%;
      height: 60%;
      background-color: aqua;
      padding: 0.5%;
      border-radius: 50%;
      margin-right: 1%;
    }
  }
  &__number {
    font-size: 40px;
    margin-left: 1%;
    color: $color-5a5a5a;
  }
}
