.ticket {
  display: flex;
  margin-right: auto;
  align-items: flex-start;
  padding: 10px;
  &__left {
    display: flex;
    margin-right: auto;
    text-transform: capitalize;
  }
  &__content {
    margin-left: 10px;
  }
  &__name {
    font-size: 1rem;
  }
  &__number {
    font-size: 0.8rem;
    color: $color-707070;
  }
  &__time {
    color: $color-707070;
  }

  svg {
    color: $color-010461;
  }
}
