.dashboard {
  display: flex;
  transition: margin-left 0.3s ease-in-out;
  
  &__sidebar {
    height: 100%;
    // width: 20%;
    background-color: $color-010461;
  }
  &__mainboard {
    // width: 80%;
  background: #fff;
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
  &.shifted {
    margin-left: 0;
  }

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__content {
    padding: 70px 30px 30px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    // background-color: red;
  }
  &__sectionTwo {
    margin: 0 40px;
    display: flex;
    justify-content: center;
  }
  &__sectionThree {
    justify-content: center;
    margin: 30px 40px;
    display: flex;
  }
}
